n8n-workflows/templates/S1-06_response_handler.json
{
  "name": "S1-06 Response Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "GHL Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ghl-reply"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Extract relevant data from GHL webhook\nconst contactId = body.contact_id || body.contactId;\nconst message = body.message || body.body || body.text;\nconst direction = body.direction || 'inbound';\nconst channel = body.type || body.channel || 'sms';\n\nif (direction !== 'inbound' || !message) {\n  return { json: { skip: true, reason: 'Not an inbound message' } };\n}\n\nreturn {\n  json: {\n    skip: false,\n    contact_id: contactId,\n    reply_text: message,\n    channel: channel,\n    received_at: new Date().toISOString()\n  }\n};"
      },
      "id": "parse_webhook",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should_skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/distributions?ghl_contact_id=eq.{{ $json.contact_id }}&order=sent_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_last_distribution",
      "name": "Get Last Distribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts_sync?ghl_id=eq.{{ $('Parse Webhook Data').first().json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_contact",
      "name": "Get Contact Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/prompts?prompt_id=eq.response_classifier&is_active=eq.true&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_prompt",
      "name": "Get Classifier Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        $node['Get Classifier Prompt'].json[0]?.content + \n        '\\n\\nOriginal message we sent: ' + ($node['Get Last Distribution'].json[0]?.message_content || 'Unknown') +\n        '\\nTheir reply: ' + $('Parse Webhook Data').first().json.reply_text +\n        '\\nCurrent status: ' + ($node['Get Contact Info'].json[0]?.investor_status || 'unknown')\n      ) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude_classify",
      "name": "Claude: Classify Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst replyData = $('Parse Webhook Data').first().json;\nconst contact = $node['Get Contact Info'].first().json[0];\nconst lastDistribution = $node['Get Last Distribution'].first().json[0];\n\ntry {\n  const text = response.content[0].text;\n  \n  // Extract JSON from response\n  let jsonStr = text;\n  if (text.includes('```json')) {\n    jsonStr = text.split('```json')[1].split('```')[0];\n  } else if (text.includes('```')) {\n    jsonStr = text.split('```')[1].split('```')[0];\n  }\n  \n  const classification = JSON.parse(jsonStr.trim());\n  \n  return {\n    json: {\n      contact_id: replyData.contact_id,\n      reply_text: replyData.reply_text,\n      classification: classification,\n      response_type: classification.response_type,\n      sentiment: classification.sentiment,\n      urgency: classification.urgency,\n      suggested_action: classification.suggested_action,\n      new_status: classification.new_status,\n      distribution_id: lastDistribution?.id,\n      current_status: contact?.investor_status,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      contact_id: replyData.contact_id,\n      reply_text: replyData.reply_text,\n      success: false,\n      error: error.message,\n      suggested_action: 'escalate_human'\n    }\n  };\n}"
      },
      "id": "parse_classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/distributions?id=eq.{{ $json.distribution_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_received\": true,\n  \"response_text\": {{ JSON.stringify($json.reply_text) }},\n  \"response_at\": \"{{ new Date().toISOString() }}\",\n  \"response_sentiment\": \"{{ $json.sentiment }}\"\n}",
        "options": {}
      },
      "id": "update_distribution",
      "name": "Update Distribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.suggested_action }}",
                    "rightValue": "update_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.suggested_action }}",
                    "rightValue": "stop_automation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop_automation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.suggested_action }}",
                    "rightValue": "escalate_human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "escalate"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route_action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts_sync?ghl_id=eq.{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"investor_status\": \"{{ $json.new_status || $json.current_status }}\",\n  \"last_response_at\": \"{{ new Date().toISOString() }}\",\n  \"response_count\": {{ ($node['Get Contact Info'].json[0]?.response_count || 0) + 1 }}\n}",
        "options": {}
      },
      "id": "update_status",
      "name": "Update Contact Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 250]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts_sync?ghl_id=eq.{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"investor_status\": \"cold\",\n  \"sync_status\": \"opted_out\"\n}",
        "options": {}
      },
      "id": "stop_automation",
      "name": "Stop Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "channel": "={{ $vars.SLACK_ALERTS_CHANNEL || '#alerts' }}",
        "text": "=🚨 *Human Review Required*\n\n*Contact:* {{ $json.contact_id }}\n*Reply:* {{ $json.reply_text }}\n*Sentiment:* {{ $json.sentiment }}\n*Urgency:* {{ $json.urgency }}\n*Reason:* {{ $json.classification?.reasoning || 'Unknown' }}",
        "otherOptions": {}
      },
      "id": "slack_escalate",
      "name": "Escalate to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2440, 550]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "processed"
            }
          ]
        },
        "options": {}
      },
      "id": "return_success",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 400]
    }
  ],
  "connections": {
    "GHL Reply Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Last Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Distribution": {
      "main": [
        [
          {
            "node": "Get Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Info": {
      "main": [
        [
          {
            "node": "Get Classifier Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Classifier Prompt": {
      "main": [
        [
          {
            "node": "Claude: Classify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Classify Response": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Update Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Distribution": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Update Contact Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Automation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Status": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Automation": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Slack": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 1", "AI Setter"]
}
