n8n-workflows/templates/S1-03_touchpoint_scheduler.json
{
  "name": "S1-03 Touchpoint Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Daily 8am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/rpc/get_contacts_due_for_touchpoint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"check_date\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "get_due_contacts",
      "name": "Get Contacts Due for Touchpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_contacts",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_contacts",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_contacts_due"
            }
          ]
        },
        "options": {}
      },
      "id": "no_contacts",
      "name": "No Contacts Due",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split_batches",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.first().json;\n\n// Determine channel based on segment preferences\nconst channelMap = {\n  're_investors': 'email',\n  'house_buyers': 'sms',\n  'bird_doggers': 'email',\n  'jv_partners': 'email',\n  'coaching_students': 'email',\n  'wholesalers': 'email',\n  'lenders': 'email',\n  'sellers': 'sms',\n  'general_leads': 'email'\n};\n\n// Determine message type based on status\nconst messageTypeMap = {\n  'hot_lead': 'update_hot',\n  'active_investor': 'update_active',\n  'passive_investor': 'update_passive',\n  'jv_potential': 'update_jv',\n  'objection_holder': 'value_content',\n  'dormant': 'reengagement',\n  'tire_kicker': 'value_content'\n};\n\nconst channel = contact.preferred_channel || channelMap[contact.segment] || 'email';\nconst messageType = messageTypeMap[contact.investor_status] || 'update_general';\n\n// Calculate scheduled time (spread throughout the day)\nconst now = new Date();\nconst randomMinutes = Math.floor(Math.random() * 240); // Spread over 4 hours\nconst scheduledFor = new Date(now.getTime() + randomMinutes * 60000);\n\nreturn {\n  json: {\n    contact_id: contact.id,\n    ghl_contact_id: contact.ghl_id,\n    first_name: contact.first_name,\n    email: contact.email,\n    phone: contact.phone,\n    segment: contact.segment,\n    investor_status: contact.investor_status,\n    latest_notes: contact.latest_notes,\n    channel: channel,\n    message_type: messageType,\n    scheduled_for: scheduledFor.toISOString()\n  }\n};"
      },
      "id": "prepare_touchpoint",
      "name": "Prepare Touchpoint Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/touchpoint_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ghl_contact_id\": \"{{ $json.ghl_contact_id }}\",\n  \"contact_sync_id\": \"{{ $json.contact_id }}\",\n  \"scheduled_for\": \"{{ $json.scheduled_for }}\",\n  \"channel\": \"{{ $json.channel }}\",\n  \"message_type\": \"{{ $json.message_type }}\",\n  \"status\": \"pending\"\n}",
        "options": {}
      },
      "id": "create_queue_entry",
      "name": "Create Queue Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "trigger_generator",
      "name": "Trigger Message Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1560, 200],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "log_event",
      "name": "Log Analytics",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1560, 350],
      "disabled": true
    }
  ],
  "connections": {
    "Daily 8am Trigger": {
      "main": [
        [
          {
            "node": "Get Contacts Due for Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts Due for Touchpoint": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches": {
      "main": [
        [
          {
            "node": "Prepare Touchpoint Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Touchpoint Data": {
      "main": [
        [
          {
            "node": "Create Queue Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Queue Entry": {
      "main": [
        [
          {
            "node": "Trigger Message Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 1", "AI Setter"]
}
