n8n-workflows/templates/S1-08_Outbound_Call_Dispatcher.json
{
  "name": "S1-08: Outbound Call Dispatcher (Retell)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        360
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════╗\n// ║   S1-08 OUTBOUND DISPATCHER CONFIG      ║\n// ║   Adjust these values as needed         ║\n// ╚══════════════════════════════════════════╝\n\nconst BATCH_SIZE = 5;             // Contacts per execution (every 5 min)\nconst DAILY_LIMIT = 200;          // Max calls per day (cost control)\nconst AGENT_ID = 'agent_e934ed4ade25be8730d483f803';  // Ashley - Multi-State Agent\nconst FROM_NUMBER = '+19156215369'; // Retell outbound number\n\n// Business hours check (Central Time = UTC-6)\nconst now = new Date();\nconst ctHour = (now.getUTCHours() - 6 + 24) % 24;\nconst ctDay = now.getUTCDay(); // 0=Sun, 6=Sat\nconst isBusinessHours = ctHour >= 9 && ctHour < 18 && ctDay >= 1 && ctDay <= 5;\n\nconst today = now.toISOString().split('T')[0]; // \"2026-01-31\"\n\nreturn {\n  json: {\n    batch_size: BATCH_SIZE,\n    daily_limit: DAILY_LIMIT,\n    agent_id: AGENT_ID,\n    from_number: FROM_NUMBER,\n    today: today,\n    is_business_hours: isBusinessHours,\n    ct_hour: ctHour,\n    ct_day: ctDay,\n    timestamp: now.toISOString()\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "ghl_id"
            },
            {
              "name": "last_voice_call",
              "value": "=gte.{{ $('Config').item.json.today }}T00:00:00Z"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Count Today's Dispatches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst items = $input.all();\n\n// Count valid dispatches (filter out empty placeholder items)\nconst callsToday = items.filter(item => item.json && item.json.ghl_id).length;\n\n// Outside business hours → remaining = 0 → stops\nif (!config.is_business_hours) {\n  return {\n    json: {\n      remaining: 0,\n      batch_size: 0,\n      calls_today: callsToday,\n      daily_limit: config.daily_limit,\n      reason: `Outside business hours (9am-6pm CT Mon-Fri). Current CT hour: ${config.ct_hour}`\n    }\n  };\n}\n\n// Calculate remaining capacity\nconst remaining = Math.max(0, config.daily_limit - callsToday);\nconst batchSize = Math.min(config.batch_size, remaining);\n\nreturn {\n  json: {\n    remaining: remaining,\n    batch_size: batchSize,\n    calls_today: callsToday,\n    daily_limit: config.daily_limit,\n    reason: remaining > 0 ? `OK - ${remaining} calls remaining today` : `Daily limit reached (${config.daily_limit})`\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Check Limit & Calculate Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-under-limit",
              "leftValue": "={{ $json.remaining }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Under Limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "ghl_id,phone,first_name,email"
            },
            {
              "name": "last_voice_call",
              "value": "is.null"
            },
            {
              "name": "phone",
              "value": "not.is.null"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "={{ $('Check Limit & Calculate Batch').item.json.batch_size }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Fetch Uncalled Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        160
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_RETELL_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"agent_id\": $('Config').item.json.agent_id,\n  \"from_number\": $('Config').item.json.from_number,\n  \"to_number\": $json.phone,\n  \"retell_llm_dynamic_variables\": {\n    \"first_name\": $json.first_name || \"there\"\n  }\n} }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Create Retell Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync?ghl_id=eq.{{ $('Split In Batches').item.json.ghl_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NTY2MywiZXhwIjoyMDgxNzQxNjYzfQ.sM-osoyzFfyB6eCopeq1uwF_pEinXJ5zHcwS0ZFg4fY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"last_voice_call\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Mark Dispatched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Daily Limit Reached",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Batch Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        360
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Count Today's Dispatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Today's Dispatches": {
      "main": [
        [
          {
            "node": "Check Limit & Calculate Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Limit & Calculate Batch": {
      "main": [
        [
          {
            "node": "Under Limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Under Limit?": {
      "main": [
        [
          {
            "node": "Fetch Uncalled Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Daily Limit Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Uncalled Contacts": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Create Retell Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell Call": {
      "main": [
        [
          {
            "node": "Mark Dispatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Dispatched": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "tags": [
    {
      "name": "System 1 - AI Setter",
      "id": "IlqaOJuEq5rPbPbq"
    },
    {
      "name": "Voice Agent",
      "id": "eiqbTfyZWuIRxAoS"
    }
  ]
}