n8n-workflows/templates/S1-07_Voice_Call_Handler.json
{
  "name": "S1-07: Voice Call Handler (Retell)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-call-complete",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "retell-call-complete"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Retell webhook payload\nconst payload = $input.first().json;\n\n// Retell sends different event types\nconst eventType = payload.event || 'call_ended';\n\n// Extract call data\nconst callData = {\n  call_id: payload.call_id || payload.call?.call_id,\n  agent_id: payload.agent_id || payload.call?.agent_id,\n  from_number: payload.from_number || payload.call?.from_number,\n  to_number: payload.to_number || payload.call?.to_number,\n  direction: payload.direction || 'outbound',\n  call_status: payload.call_status || payload.call?.call_status,\n  start_time: payload.start_timestamp || payload.call?.start_timestamp,\n  end_time: payload.end_timestamp || payload.call?.end_timestamp,\n  duration_seconds: payload.duration_ms ? Math.round(payload.duration_ms / 1000) : null,\n  recording_url: payload.recording_url || payload.call?.recording_url,\n  transcript: payload.transcript || payload.call?.transcript,\n  \n  // Post-call analysis data (from your custom fields)\n  segment: payload.call_analysis?.segment || payload.analysis?.segment,\n  interest_level: payload.call_analysis?.interest_level || payload.analysis?.interest_level,\n  timeline: payload.call_analysis?.timeline || payload.analysis?.timeline,\n  call_outcome: payload.call_analysis?.call_outcome || payload.analysis?.call_outcome,\n  follow_up_action: payload.call_analysis?.follow_up_action || payload.analysis?.follow_up_action,\n  property_interests: payload.call_analysis?.property_interests || payload.analysis?.property_interests,\n  notes: payload.call_analysis?.notes || payload.analysis?.notes || payload.call_analysis?.call_summary,\n  \n  // Raw payload for debugging\n  raw_payload: payload\n};\n\nreturn { json: callData };"
      },
      "id": "parse-payload",
      "name": "Parse Retell Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.call_outcome }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-outcome",
      "name": "Call Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/contacts/lookup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.to_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "lookup-contact",
      "name": "Lookup GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ghl_auth",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $('Lookup GHL Contact').json.contacts[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $('Parse Retell Payload').json.segment }}\", \"voice_contacted\"],\n  \"customField\": {\n    \"investor_status\": \"{{ $('Parse Retell Payload').json.segment }}\",\n    \"interest_level\": \"{{ $('Parse Retell Payload').json.interest_level }}\",\n    \"timeline\": \"{{ $('Parse Retell Payload').json.timeline }}\",\n    \"property_interests\": \"{{ $('Parse Retell Payload').json.property_interests }}\",\n    \"last_voice_contact\": \"{{ new Date().toISOString() }}\",\n    \"voice_call_notes\": \"{{ $('Parse Retell Payload').json.notes }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-contact",
      "name": "Update GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ghl_auth",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/voice_calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $('Parse Retell Payload').json.call_id }}\",\n  \"ghl_contact_id\": \"{{ $('Lookup GHL Contact').json.contacts[0].id }}\",\n  \"phone_number\": \"{{ $('Parse Retell Payload').json.to_number }}\",\n  \"direction\": \"{{ $('Parse Retell Payload').json.direction }}\",\n  \"duration_seconds\": {{ $('Parse Retell Payload').json.duration_seconds || 0 }},\n  \"call_outcome\": \"{{ $('Parse Retell Payload').json.call_outcome }}\",\n  \"segment\": \"{{ $('Parse Retell Payload').json.segment }}\",\n  \"interest_level\": \"{{ $('Parse Retell Payload').json.interest_level }}\",\n  \"timeline\": \"{{ $('Parse Retell Payload').json.timeline }}\",\n  \"follow_up_action\": \"{{ $('Parse Retell Payload').json.follow_up_action }}\",\n  \"property_interests\": \"{{ $('Parse Retell Payload').json.property_interests }}\",\n  \"notes\": \"{{ $('Parse Retell Payload').json.notes }}\",\n  \"transcript\": {{ JSON.stringify($('Parse Retell Payload').json.transcript) }},\n  \"recording_url\": \"{{ $('Parse Retell Payload').json.recording_url }}\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "log-supabase",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase_auth",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/voice_calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $('Parse Retell Payload').json.call_id }}\",\n  \"phone_number\": \"{{ $('Parse Retell Payload').json.to_number }}\",\n  \"direction\": \"{{ $('Parse Retell Payload').json.direction }}\",\n  \"call_outcome\": \"{{ $('Parse Retell Payload').json.call_outcome }}\",\n  \"notes\": \"No answer or incomplete call\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "log-failed",
      "name": "Log Failed Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase_auth",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Call processed\", \"call_id\": \"{{ $('Parse Retell Payload').json.call_id }}\"}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Failed call logged\", \"call_id\": \"{{ $('Parse Retell Payload').json.call_id }}\"}"
      },
      "id": "respond-failed",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Retell Webhook": {
      "main": [
        [
          {
            "node": "Parse Retell Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retell Payload": {
      "main": [
        [
          {
            "node": "Call Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Completed?": {
      "main": [
        [
          {
            "node": "Lookup GHL Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup GHL Contact": {
      "main": [
        [
          {
            "node": "Update GHL Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GHL Contact": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failed Call": {
      "main": [
        [
          {
            "node": "Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "System 1 - AI Setter"
    }
  ]
}
