n8n-workflows/templates/S2-02_ Content Processor.json
{
  "name": "S2-02: Content Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "03b15e2a-70fd-480f-99a2-880664d562aa",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $json.id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "fb765b1d-45f2-46a0-9069-13d59489277b",
      "name": "Get Content Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_transcript",
              "leftValue": "={{ $json[0]?.transcript_raw }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5a2f9e5-87a8-4757-93f5-0e613a8d879b",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for transcription API call\n// In production, call Whisper API, AssemblyAI, or similar\n\nconst content = $input.first().json[0];\nconst sourceUrl = content.source_url;\n\n// For now, return a placeholder\n// TODO: Implement actual transcription\nreturn {\n  json: {\n    content_id: content.id,\n    transcript: content.description || 'Transcript not available - manual input required',\n    needs_manual_transcript: true\n  }\n};"
      },
      "id": "0d95203a-1e7f-47fe-be3c-fb39d98aff9b",
      "name": "Transcribe Audio/Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json[0];\n\nreturn {\n  json: {\n    content_id: content.id,\n    transcript: content.transcript_raw,\n    needs_manual_transcript: false\n  }\n};"
      },
      "id": "f9eca26e-3062-499c-ac6a-a857f7ddf5c9",
      "name": "Use Existing Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/prompts?prompt_id=eq.content_agent&is_active=eq.true&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "e6c51747-bc0b-435e-907e-7c6bfc8e40f8",
      "name": "Get Content Agent Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApi.apiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 4096, \"system\": \"You are a JSON-only content extraction agent. You MUST respond with ONLY valid JSON, no text, no markdown,    no explanations. If you cannot extract data, return an empty JSON structure.\", \"messages\": [{\"role\": \"user\", \"content\": $('Get Content Agent Prompt').first().json[0]?.content + '\\n\\nTranscript:\\n'   + $('Extract Transcript from S2-03').first().json.transcript}]}) }} ",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b5e50940-e318-4acc-ad59-5a7edf4e8466",
      "name": "Claude: Extract Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "cRWbVyfaE27zpOiq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n  const contentId = $('Extract Transcript from S2-03').first().json.content_id;\n \n  try {\n    const text = response.content[0].text;\n\n    let jsonStr = text;\n    if (text.includes('```json')) {\n      jsonStr = text.split('```json')[1].split('```')[0];\n    } else if (text.includes('```')) {\n      jsonStr = text.split('```')[1].split('```')[0];\n    }\n\n    const parsed = JSON.parse(jsonStr.trim());\n\n    let score = 50;\n    score += Math.min((parsed.hooks?.length || 0) * 5, 25);\n    score += Math.min((parsed.clips?.length || 0) * 5, 15);\n    if (parsed.metadata?.content_type === 'case_study') score += 10;\n\n    const priority = score > 80 ? 'high' : score > 50 ? 'medium' : 'low';\n\n    return {\n      json: {\n        content_id: contentId,\n        hooks: parsed.hooks || [],\n        clips: parsed.clips || [],\n        transcript_structured: parsed.transcript || {},\n        metadata: parsed.metadata || {},\n        score: score,\n        priority: priority,\n        raw_response: text,\n        success: true\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        content_id: contentId,\n        success: false,\n        error: error.message,\n        raw_response: response.content?.[0]?.text\n      }\n    };\n  }"
      },
      "id": "ea30bdb1-6d73-44e8-a502-f3790d5a7c63",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b337cbfc-57d7-4571-a27c-536f612db424",
      "name": "Extraction Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        112
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $json.content_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"hooks\": {{ JSON.stringify($json.hooks) }},\n  \"clips\": {{ JSON.stringify($json.clips) }},\n  \"transcript_structured\": {{ JSON.stringify($json.transcript_structured) }},\n  \"ai_metadata\": {{ JSON.stringify($json.metadata) }},\n  \"score\": {{ $json.score }},\n  \"priority\": \"{{ $json.priority }}\",\n  \"status\": \"ready\",\n  \"processing_completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "880deac8-1fc9-4175-9427-d84cc8d6a197",
      "name": "Update Content: Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $json.content_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"pending\",\n  \"processing_error\": {{ JSON.stringify($json.error || 'Unknown error') }},\n  \"processing_completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "e0600d6a-824f-4654-ac37-2f4a7c1fec64",
      "name": "Update Content: Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hooks = $('Parse AI Response').first().json.hooks || [];\n  const contentId = $('Parse AI Response').first().json.content_id;\n\n  if (hooks.length === 0) {\n    return [{ json: { content_id: contentId, skip_hooks: true } }];\n  }\n\n  return hooks.map((hook, index) => ({\n    json: {\n      content_id: contentId,\n      text: hook.text,\n      timestamp: hook.timestamp || null,\n      hook_type: hook.hook_type || 'insight'\n    }\n  }));"
      },
      "id": "07e6cd6f-5bd3-4bd9-a866-4b94e68aa417",
      "name": "Prepare Hooks for Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/hooks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"timestamp\": {{ $json.timestamp ? '\"' + $json.timestamp + '\"' : 'null' }},\n  \"hook_type\": \"{{ $json.hook_type }}\"\n}",
        "options": {}
      },
      "id": "45e06406-70c3-4123-85a1-924cf756f3cf",
      "name": "Insert Hooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -32
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UoQhCBOzMnGgpDEd",
          "mode": "list",
          "cachedResultUrl": "/workflow/UoQhCBOzMnGgpDEd",
          "cachedResultName": "VH Labs — S2-03: Transcript Processor"
        },
        "options": {}
      },
      "id": "8cf3ac0c-c5dd-4bef-8e59-6ce0c9c12a66",
      "name": "Call S2-03: Transcript Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -96,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract cleaned transcript from S2-03 response\nconst s203Response = $input.first().json;\n\nreturn {\n  json: {\n    content_id: s203Response.content_id,\n    transcript: s203Response.transcript_cleaned || s203Response.transcript_raw,\n    needs_manual_transcript: false\n  }\n};"
      },
      "id": "7de34313-4a68-453f-ab36-c4f9a2c999f9",
      "name": "Extract Transcript from S2-03",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -192
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\",\n  \"processing_started_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "31fbf9ba-7c47-4a8e-9e6e-7e98b945abc7",
      "name": "Update Status: Processing1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hXNbeBWOGyYbcdww",
          "mode": "list",
          "cachedResultUrl": "/workflow/hXNbeBWOGyYbcdww",
          "cachedResultName": "VH Labs — S3-01: Distribution Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2096,
        240
      ],
      "id": "ede691a4-a25e-4a3b-81e8-08aed1522ddc",
      "name": "Call 'S3-01: Distribution Router'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hXNbeBWOGyYbcdww",
          "mode": "list",
          "cachedResultUrl": "/workflow/hXNbeBWOGyYbcdww",
          "cachedResultName": "VH Labs — S3-01: Distribution Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        -32
      ],
      "id": "dda355e8-087e-4cb1-9683-ac0297a0387f",
      "name": "Call 'S3-01: Distribution Router'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74c8ab4f-c710-49b2-bca0-ac315662ed94",
              "leftValue": "={{ $json.skip_hooks }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        32
      ],
      "id": "5760fc58-18c9-4312-9114-1c00758c9315",
      "name": "Empty Skip Hooks"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Update Status: Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Record": {
      "main": [
        [
          {
            "node": "Has Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcript?": {
      "main": [
        [
          {
            "node": "Use Existing Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe Audio/Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call S2-03: Transcript Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio/Video": {
      "main": [
        [
          {
            "node": "Get Content Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Transcript": {
      "main": [
        [
          {
            "node": "Get Content Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Agent Prompt": {
      "main": [
        [
          {
            "node": "Claude: Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Extract Content": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Extraction Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction Success?": {
      "main": [
        [
          {
            "node": "Update Content: Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Content: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content: Ready": {
      "main": [
        [
          {
            "node": "Prepare Hooks for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Hooks for Insert": {
      "main": [
        [
          {
            "node": "Empty Skip Hooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call S2-03: Transcript Processor": {
      "main": [
        [
          {
            "node": "Extract Transcript from S2-03",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript from S2-03": {
      "main": [
        [
          {
            "node": "Get Content Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Hooks": {
      "main": [
        [
          {
            "node": "Call 'S3-01: Distribution Router'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Processing1": {
      "main": [
        [
          {
            "node": "Get Content Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Skip Hooks": {
      "main": [
        [
          {
            "node": "Insert Hooks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'S3-01: Distribution Router'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bec1c8b-54f7-4d43-90e8-fe08c6bdbcc5",
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "id": "kh6qAUgzyLEoGTGU",
  "tags": []
}