n8n-workflows/templates/S3-05_ SMS Sender.json
{
  "name": "S3-05: SMS Sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "da62a026-89ce-4b6f-ba3b-01b27c3d99dd",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/distributions?status=eq.queued&channel=eq.sms&order=created_at.asc&limit=50",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "b0f7c0e9-fa9e-4785-99f2-fe7cd6c9bb08",
      "name": "Get Queued SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_sms",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9318f76-8ec7-41f1-9504-81fc04f8b966",
      "name": "Has SMS to Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "53340e32-7be8-43eb-ba60-1c9d0eb35fc8",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gohighlevelOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $json.ghl_contact_id }}\",\n  \"message\": {{ JSON.stringify($json.message_content) }}\n}",
        "options": {}
      },
      "id": "7fe4cc3d-05e7-420b-a149-53390d7523f7",
      "name": "Send SMS via GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/distributions?id=eq.{{ $('Process in Batches').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\",\n  \"external_id\": \"{{ $json.messageId || null }}\"\n}",
        "options": {}
      },
      "id": "4fee7659-e5bc-4716-8a92-9530e5a92838",
      "name": "Update Status: Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "883267ff-9eb7-4b1b-93dd-4976408fb0d0",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Get Queued SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queued SMS": {
      "main": [
        [
          {
            "node": "Has SMS to Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has SMS to Send?": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SMS via GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via GHL": {
      "main": [
        [
          {
            "node": "Update Status: Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Sent": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7d65143-8ba2-4c56-a1c2-b6d9b62c9887",
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "id": "O1A7sIHa3Tfwnt2y",
  "tags": []
}