n8n-workflows/templates/S3-02_ Email Generator.json
{
  "name": "S3-02: Email Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "8c83092d-06d5-4fcb-b5b9-c8ce57696350",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync?segment=eq.{{ $json.segment_slug }}&investor_status=neq.cold&limit=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "c9383d64-2f34-411b-8157-57673977c698",
      "name": "Get Contacts in Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_contacts",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1954d1e7-a697-4a7c-a87b-13b393fafa93",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/prompts?prompt_id=eq.teaser_generator&is_active=eq.true&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "cf57363a-1a8e-44aa-8da4-e8091065ed53",
      "name": "Get Teaser Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        $node['Get Teaser Prompt'].json[0]?.content + \n        '\\n\\nContent title: ' + $('Start').first().json.content_title +\n        '\\nContent teaser: ' + ($('Start').first().json.best_hook || 'Check out this new content') +\n        '\\nBest hook: ' + ($('Start').first().json.best_hook || '') +\n        '\\nTarget segment: ' + $('Start').first().json.segment_name +\n        '\\nContent link: ' + $('Start').first().json.source_url\n      ) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "882c4c48-010f-4c7f-9174-a1834c52c4cc",
      "name": "Claude: Generate Teaser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst startData = $('Start').first().json;\n\nconst text = response.content?.[0]?.text || '';\n\n// Parse subject and body\nlet subject = 'Check this out 👀';\nlet body = text;\n\nconst lines = text.split('\\n');\nif (lines[0].toLowerCase().startsWith('subject:')) {\n  subject = lines[0].replace(/^subject:\\s*/i, '').trim();\n  body = lines.slice(2).join('\\n').trim();\n}\n\nreturn {\n  json: {\n    content_id: startData.content_id,\n    segment_slug: startData.segment_slug,\n    subject: subject,\n    body: body,\n    source_url: startData.source_url\n  }\n};"
      },
      "id": "e9c6f3ba-36c9-43ae-b857-3a5b51fdc713",
      "name": "Parse Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const emailData = $input.first().json;\nconst contacts = $node['Get Contacts in Segment'].first().json;\n\n// Create distribution entries for each contact\nreturn contacts.map(contact => ({\n  json: {\n    content_id: emailData.content_id,\n    ghl_contact_id: contact.ghl_id,\n    contact_email: contact.email,\n    first_name: contact.first_name,\n    segment: emailData.segment_slug,\n    channel: 'email',\n    subject: emailData.subject,\n    body: emailData.body.replace('{first_name}', contact.first_name || 'there'),\n    source_url: emailData.source_url\n  }\n}));"
      },
      "id": "90b815e7-625b-4873-94aa-d4cdf54828f2",
      "name": "Prepare Individual Sends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "ef409391-443b-48cc-af32-fc67708e8cfd",
      "name": "Batch for Sending",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/distributions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"ghl_contact_id\": \"{{ $json.ghl_contact_id }}\",\n  \"channel\": \"email\",\n  \"message_type\": \"teaser\",\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"message_content\": {{ JSON.stringify($json.body) }},\n  \"media_url\": \"{{ $json.source_url }}\",\n  \"status\": \"queued\"\n}",
        "options": {}
      },
      "id": "79800188-78a0-4b7b-b8b6-c8f87e7686a3",
      "name": "Create Distribution Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "bb46d91b-937f-4247-93f5-11a66f187154",
      "name": "Trigger Email Sender",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1328,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6bfb7c00-fc4f-49fa-a181-aada5ae3b0da",
      "name": "No Contacts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "content": "## 📧 S3-02: Email Generator\n\n### 🎯 Purpose\nGenerates AI-powered email teasers for content distribution and queues them for sending to contacts in the target segment.\n\n---\n\n### 🔄 Flow\n\n| Step | Node | Action |\n|------|------|--------|\n| 1 | Start | Receives data from S3-01 (sub-workflow trigger) |\n| 2 | Get Contacts in Segment | Fetches contacts where `segment = segment_slug` and `status ≠ cold` (limit 100) |\n| 3 | Has Contacts? | Checks if any contacts exist |\n| 4 | Get Teaser Prompt | Loads `teaser_generator` prompt from Supabase |\n| 5 | Claude: Generate Teaser | AI generates email subject + body |\n| 6 | Parse Email Content | Extracts subject line and body from AI response |\n| 7 | Prepare Individual Sends | Creates one record per contact with personalized body |\n| 8 | Batch for Sending | Processes in batches of 10 |\n| 9 | Create Distribution Record | Inserts into `distributions` table (status: `queued`) |\n| 10 | Trigger Email Sender | Calls sender workflow *(disabled)* |\n\n---\n\n### 🤖 AI Generation\n\n**Model:** `claude-sonnet-4-20250514`\n\n**Input to Claude:**\n- Content title\n- Best hook / teaser\n- Target segment name\n- Content link\n\n**Output format:**\n```\nSubject: [email subject line]\n\n[email body with {first_name} placeholder]\n```\n\n---\n\n### 📝 Personalization\n\nThe `{first_name}` placeholder in the body is replaced with each contact's first name (or \"there\" if missing).\n\n---\n\n### 🗄️ Database\n\n| Table | Operation |\n|-------|-----------|\n| `contacts_sync` | Read contacts by segment |\n| `prompts` | Read `teaser_generator` prompt |\n| `distributions` | Insert queued emails |\n\n**Distribution record fields:**\n- `content_id`, `ghl_contact_id`\n- `channel`: `\"email\"`\n- `message_type`: `\"teaser\"`\n- `subject`, `message_content`\n- `media_url`, `status`: `\"queued\"`\n\n---\n\n### 🔗 Triggered By\n**S3-01: Distribution Router** (when channel = `email`)\n\n---\n\n### ⚠️ Notes\n- Email Sender sub-workflow is **disabled**\n- Emails are queued in `distributions` but not sent automatically\n\n---\n\n### ✅ Status: **Active**",
        "height": 1808,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -496
      ],
      "id": "a35047ff-9ee7-48b9-9804-1506f0ef8af4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Contacts in Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts in Segment": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Get Teaser Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Teaser Prompt": {
      "main": [
        [
          {
            "node": "Claude: Generate Teaser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Teaser": {
      "main": [
        [
          {
            "node": "Parse Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Content": {
      "main": [
        [
          {
            "node": "Prepare Individual Sends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual Sends": {
      "main": [
        [
          {
            "node": "Batch for Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch for Sending": {
      "main": [
        [
          {
            "node": "Create Distribution Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Distribution Record": {
      "main": [
        [
          {
            "node": "Trigger Email Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2778207-396e-4c0f-a906-b7cc8e44522a",
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "id": "5oqnTqIEQrG73Jql",
  "tags": []
}