n8n-workflows/templates/S3-04_ Instagram Poster.json
{
  "name": "S3-04: Instagram Poster",
  "nodes": [
    {
      "parameters": {},
      "id": "d51b6760-3088-459d-b195-0a33dd0071cb",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/prompts?prompt_id=eq.instagram_caption&is_active=eq.true&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "a08a9109-3e63-4988-ad7d-640f7fece0cc",
      "name": "Get Caption Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        ($node['Get Caption Prompt'].json[0]?.content || 'Generate an Instagram caption with hashtags for this content:') + \n        '\\n\\nHook text: ' + ($('Start').first().json.best_hook || 'Check out this content') +\n        '\\nContent type: ' + ($('Start').first().json.content_type || 'educational') +\n        '\\nTarget audience: ' + $('Start').first().json.segment_name\n      ) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "05cab3f9-7201-4d4a-8086-67991b8bfbe8",
      "name": "Claude: Generate Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst startData = $('Start').first().json;\n\nconst caption = response.content?.[0]?.text || `${startData.best_hook}\\n\\n👇 Link in bio\\n\\n#realestateinvesting #investortips`;\n\nreturn {\n  json: {\n    content_id: startData.content_id,\n    caption: caption,\n    media_url: startData.source_url,\n    segment: startData.segment_slug\n  }\n};"
      },
      "id": "4f39cccd-e295-475b-a8d9-95fd663e5852",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_token",
              "leftValue": "={{ $vars.INSTAGRAM_ACCESS_TOKEN }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4763e842-7ca4-4125-8412-38fef5319cee",
      "name": "Instagram Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.INSTAGRAM_BUSINESS_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "media_type",
              "value": "REELS"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "e0c7a1d0-7369-4b81-a62e-5fe78ed8f9f9",
      "name": "Create IG Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait for media to be ready\n// Instagram needs time to process video\nawait new Promise(resolve => setTimeout(resolve, 30000));\n\nreturn $input.all();"
      },
      "id": "b568b395-8886-4f23-a8c3-7e423be896f5",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.INSTAGRAM_BUSINESS_ID }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $node['Create IG Media Container'].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47a75fb0-429c-4c1a-9f7b-fa0a2bc2d58e",
      "name": "Publish to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/distributions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $node['Prepare Post Data'].json.content_id }}\",\n  \"channel\": \"instagram\",\n  \"message_type\": \"social_post\",\n  \"message_content\": {{ JSON.stringify($node['Prepare Post Data'].json.caption) }},\n  \"media_url\": \"{{ $node['Prepare Post Data'].json.media_url }}\",\n  \"external_id\": \"{{ $json.id }}\",\n  \"external_url\": \"https://instagram.com/p/{{ $json.id }}\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\",\n  \"status\": \"sent\"\n}",
        "options": {}
      },
      "id": "69f84981-23f5-41ae-9bd9-5185650575dd",
      "name": "Create Distribution Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Instagram not configured - create placeholder distribution\nconst postData = $node['Prepare Post Data'].first().json;\n\nreturn {\n  json: {\n    status: 'instagram_not_configured',\n    message: 'Instagram API not configured. Manual posting required.',\n    caption: postData.caption,\n    media_url: postData.media_url,\n    content_id: postData.content_id\n  }\n};"
      },
      "id": "2d4b8a9c-8fd1-4616-8fc7-a4b342c26bfa",
      "name": "IG Not Configured",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/distributions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"channel\": \"instagram\",\n  \"message_type\": \"social_post\",\n  \"message_content\": {{ JSON.stringify($json.caption) }},\n  \"media_url\": \"{{ $json.media_url }}\",\n  \"status\": \"pending\",\n  \"error_message\": \"Manual posting required - IG API not configured\"\n}",
        "options": {}
      },
      "id": "7f54b7a0-995f-4325-ac96-453481976347",
      "name": "Create Pending Distribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1fbb583-008e-4263-8236-dd3544c7053c",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Caption Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Caption Prompt": {
      "main": [
        [
          {
            "node": "Claude: Generate Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Caption": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Instagram Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Configured?": {
      "main": [
        [
          {
            "node": "Create IG Media Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG Not Configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Media Container": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [
          {
            "node": "Create Distribution Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Distribution Record": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Not Configured": {
      "main": [
        [
          {
            "node": "Create Pending Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pending Distribution": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aee05385-109b-4a55-8797-b3f9d1acb96e",
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "id": "u9i9kAQswGmeCBTJ",
  "tags": []
}