n8n-workflows/templates/S4-03_ghl_contact_sync.json
{
  "name": "S4-03 GHL Contact Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rest.gohighlevel.com/v1/contacts/?locationId={{ $vars.GHL_LOCATION_ID }}&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.GHL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_ghl_contacts",
      "name": "Get GHL Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_contacts",
              "leftValue": "={{ $json.contacts?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_contacts",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst contacts = response.contacts || [];\n\n// Map GHL contacts to our schema\nreturn contacts.map(contact => ({\n  json: {\n    ghl_id: contact.id,\n    ghl_location_id: contact.locationId,\n    email: contact.email,\n    phone: contact.phone,\n    first_name: contact.firstName,\n    last_name: contact.lastName,\n    segment: contact.customField?.segment || null,\n    investor_status: contact.customField?.investor_status || null,\n    tags: contact.tags || [],\n    latest_notes: contact.notes?.substring(0, 2000) || null\n  }\n}));"
      },
      "id": "map_contacts",
      "name": "Map Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "batch_contacts",
      "name": "Process in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts_sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ghl_id\": \"{{ $json.ghl_id }}\",\n  \"ghl_location_id\": \"{{ $json.ghl_location_id }}\",\n  \"email\": {{ $json.email ? '\"' + $json.email + '\"' : 'null' }},\n  \"phone\": {{ $json.phone ? '\"' + $json.phone + '\"' : 'null' }},\n  \"first_name\": {{ $json.first_name ? JSON.stringify($json.first_name) : 'null' }},\n  \"last_name\": {{ $json.last_name ? JSON.stringify($json.last_name) : 'null' }},\n  \"segment\": {{ $json.segment ? '\"' + $json.segment + '\"' : 'null' }},\n  \"investor_status\": {{ $json.investor_status ? '\"' + $json.investor_status + '\"' : 'null' }},\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"latest_notes\": {{ $json.latest_notes ? JSON.stringify($json.latest_notes) : 'null' }},\n  \"last_synced_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "upsert_contact",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// Count successful syncs\nconst items = $input.all();\nconst successCount = items.filter(item => !item.json.error).length;\nconst errorCount = items.filter(item => item.json.error).length;\n\nreturn {\n  json: {\n    sync_completed: true,\n    contacts_synced: successCount,\n    errors: errorCount,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "count_results",
      "name": "Count Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "log_analytics",
      "name": "Log Sync Event",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1780, 200],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_contacts"
            }
          ]
        },
        "options": {}
      },
      "id": "no_contacts",
      "name": "No Contacts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get GHL Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GHL Contacts": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Map Contact Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Contact Data": {
      "main": [
        [
          {
            "node": "Process in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Results": {
      "main": [
        [
          {
            "node": "Log Sync Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 4", "Orchestration"]
}
