n8n-workflows/templates/S4-02 Analytics Logger.json
{
  "name": "S4-02 Analytics Logger",
  "nodes": [
    {
      "parameters": {},
      "id": "a37c12c9-f167-4df5-9d4d-31a963d73123",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        704,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/analytics_events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"{{ $json.event_type }}\",\n  \"event_category\": \"{{ $json.event_category || null }}\",\n  \"workflow_name\": \"{{ $json.workflow_name || null }}\",\n  \"content_id\": {{ $json.content_id ? '\"' + $json.content_id + '\"' : 'null' }},\n  \"contact_id\": {{ $json.contact_id ? '\"' + $json.contact_id + '\"' : 'null' }},\n  \"distribution_id\": {{ $json.distribution_id ? '\"' + $json.distribution_id + '\"' : 'null' }},\n  \"event_data\": {{ JSON.stringify($json.event_data || {}) }},\n  \"duration_ms\": {{ $json.duration_ms || 'null' }},\n  \"success\": {{ $json.success !== false }}\n}",
        "options": {}
      },
      "id": "612d9542-1a7b-4b79-9ecc-aca026a47961",
      "name": "Insert Analytics Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hVfZRoJCMrkjbSPE",
          "name": "Supabase VHL Auth"
        },
        "supabaseApi": {
          "id": "GwDYGTMRM5wfg7Io",
          "name": "VH Labs Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "754dd03b-2e3e-482e-a50d-d30e0c328c3f",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        256
      ]
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "event_type": "segment_changed",
          "event_category": "system1",
          "contact_id": "7JJJwdKm73qpWT3c9Pdz",
          "success": true,
          "event_data": {
            "previous_status": null,
            "new_status": "objection_holder",
            "previous_segment": null,
            "new_segment": "general_leads",
            "status_changed": true,
            "segment_changed": true,
            "follow_up_priority": "low",
            "touchpoint_frequency_days": 30
          }
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Insert Analytics Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Analytics Event": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65c78dce-869d-4e21-8eda-fd4cc8370787",
  "meta": {
    "instanceId": "ff009ecb14f3e5529aafdff9e0e7520ceefecd7af64a47e24c56f961b0a84562"
  },
  "id": "WQ6fyZOn5BOV8CCN",
  "tags": []
}