n8n-workflows/templates/S4-01_error_logger.json
{
  "name": "S4-01 Error Logger",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/analytics_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"workflow_error\",\n  \"event_category\": \"{{ $json.event_category || 'system4' }}\",\n  \"workflow_name\": \"{{ $json.workflow_name }}\",\n  \"event_data\": {\n    \"node_name\": \"{{ $json.node_name }}\",\n    \"error_message\": \"{{ $json.error_message }}\",\n    \"error_data\": {{ JSON.stringify($json.error_data || {}) }},\n    \"severity\": \"{{ $json.severity || 'medium' }}\"\n  },\n  \"success\": false\n}",
        "options": {}
      },
      "id": "log_error",
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "severity_check",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_severity",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "={{ $vars.SLACK_ALERTS_CHANNEL || '#alerts' }}",
        "text": "=🚨 *CRITICAL ERROR* in workflow `{{ $json.workflow_name }}`\n\n*Node:* {{ $json.node_name }}\n*Error:* {{ $json.error_message }}\n*Time:* {{ new Date().toISOString() }}",
        "otherOptions": {}
      },
      "id": "slack_alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "logged",
              "value": true
            }
          ],
          "boolean1": [
            {
              "name": "alerted",
              "value": "={{ $json.severity === 'critical' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "return_result",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Log Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Supabase": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "Utility"]
}
