n8n-workflows/configured/S1-02_segmentation_engine.json
{
  "name": "S1-02 Segmentation Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Extract parsed note data\nconst {\n  contact_id,\n  intent_signals = [],\n  objections = [],\n  timeline,\n  sentiment,\n  recommended_status,\n  follow_up_priority,\n  current_status,\n  current_segment\n} = input;\n\nlet newStatus = recommended_status || current_status || 'general_leads';\nlet newSegment = current_segment || 'general_leads';\n\n// ========== SEGMENTATION RULES ==========\n\n// Rule 1: Multiple buying signals + short timeline = hot_lead\nif (intent_signals.includes('buying') && \n    (timeline === 'immediate' || timeline === 'short')) {\n  newStatus = 'hot_lead';\n}\n\n// Rule 2: JV/partnering language = jv_potential\nif (intent_signals.includes('partnering')) {\n  newStatus = 'jv_potential';\n  newSegment = 'jv_partners';\n}\n\n// Rule 3: Funding interest = route to lenders segment\nif (intent_signals.includes('funding')) {\n  newSegment = 'lenders';\n  if (newStatus === 'general_leads') newStatus = 'active_investor';\n}\n\n// Rule 4: Has objections (unless hot) = objection_holder\nif (objections.length > 0 && newStatus !== 'hot_lead') {\n  newStatus = 'objection_holder';\n}\n\n// Rule 5: Negative sentiment + no clear intent = tire_kicker\nif (sentiment === 'negative' && \n    (intent_signals.length === 0 || intent_signals.includes('none'))) {\n  newStatus = 'tire_kicker';\n}\n\n// Rule 6: Positive sentiment + learning intent = coaching potential\nif (sentiment === 'positive' && intent_signals.includes('learning')) {\n  newSegment = 'coaching_students';\n  if (newStatus === 'general_leads') newStatus = 'passive_investor';\n}\n\n// Rule 7: Selling intent = sellers segment\nif (intent_signals.includes('selling')) {\n  newSegment = 'sellers';\n}\n\n// Determine if status actually changed\nconst statusChanged = newStatus !== current_status;\nconst segmentChanged = newSegment !== current_segment;\n\n// Determine touchpoint frequency based on status\nconst frequencyMap = {\n  'hot_lead': 5,\n  'active_investor': 10,\n  'jv_potential': 14,\n  'passive_investor': 21,\n  'objection_holder': 30,\n  'tire_kicker': 30,\n  'dormant': 45,\n  'cold': null\n};\n\nreturn {\n  json: {\n    contact_id: contact_id,\n    new_status: newStatus,\n    new_segment: newSegment,\n    status_changed: statusChanged,\n    segment_changed: segmentChanged,\n    previous_status: current_status,\n    previous_segment: current_segment,\n    follow_up_priority: follow_up_priority || 'medium',\n    touchpoint_frequency_days: frequencyMap[newStatus] || 30,\n    rules_applied: {\n      intent_signals,\n      objections,\n      timeline,\n      sentiment\n    }\n  }\n};"
      },
      "id": "apply_rules",
      "name": "Apply Segmentation Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status_changed",
              "leftValue": "={{ $json.status_changed || $json.segment_changed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check_changed",
      "name": "Any Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_GHL_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $json.new_status }}\", \"{{ $json.new_segment }}\"],\n  \"customField\": {\n    \"investor_status\": \"{{ $json.new_status }}\",\n    \"segment\": \"{{ $json.new_segment }}\"\n  }\n}",
        "options": {}
      },
      "id": "update_ghl",
      "name": "Update GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync?ghl_id=eq.{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"segment\": \"{{ $json.new_segment }}\",\n  \"investor_status\": \"{{ $json.new_status }}\",\n  \"last_synced_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update_supabase",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "log_event",
      "name": "Log Segment Change",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1340, 200],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            }
          ],
          "boolean": [
            {
              "name": "changes_made",
              "value": "={{ $json.status_changed || $json.segment_changed }}"
            }
          ]
        },
        "options": {}
      },
      "id": "return_result",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Apply Segmentation Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Segmentation Rules": {
      "main": [
        [
          {
            "node": "Any Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Changes?": {
      "main": [
        [
          {
            "node": "Update GHL Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GHL Contact": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase": {
      "main": [
        [
          {
            "node": "Log Segment Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Segment Change": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 1", "AI Setter"]
}
