n8n-workflows/configured/S1-01_note_parser.json
{
  "name": "S1-01 Note Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-note-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "GHL Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ghl-note-update"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_contact",
              "leftValue": "={{ $json.body?.contact_id || $json.body?.contactId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate",
      "name": "Has Contact ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Missing contact_id in webhook payload"
            }
          ]
        },
        "options": {}
      },
      "id": "error_response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $json.body?.contact_id || $json.body?.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_GHL_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "get_contact",
      "name": "Get Contact from GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_notes",
              "leftValue": "={{ $json.contact?.notes || $json.notes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_notes",
      "name": "Has Notes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "No notes to parse"
            }
          ]
        },
        "options": {}
      },
      "id": "skip_no_notes",
      "name": "Skip - No Notes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/prompts?prompt_id=eq.note_parser&is_active=eq.true&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            }
          ]
        },
        "options": {}
      },
      "id": "get_prompt",
      "name": "Get Note Parser Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($node['Get Note Parser Prompt'].json[0]?.content + '\\n\\nCall Notes:\\n' + ($node['Get Contact from GHL'].json.contact?.notes || $node['Get Contact from GHL'].json.notes || '')) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude_parse",
      "name": "Claude: Parse Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst contact = $node['Get Contact from GHL'].first().json.contact || $node['Get Contact from GHL'].first().json;\n\ntry {\n  const text = response.content[0].text;\n  \n  // Extract JSON from response\n  let jsonStr = text;\n  if (text.includes('```json')) {\n    jsonStr = text.split('```json')[1].split('```')[0];\n  } else if (text.includes('```')) {\n    jsonStr = text.split('```')[1].split('```')[0];\n  }\n  \n  const parsed = JSON.parse(jsonStr.trim());\n  \n  return {\n    json: {\n      contact_id: contact.id,\n      ghl_contact: contact,\n      parsed_notes: parsed,\n      intent_signals: parsed.intent_signals || [],\n      objections: parsed.objections || [],\n      timeline: parsed.timeline,\n      sentiment: parsed.sentiment,\n      recommended_status: parsed.recommended_status,\n      follow_up_priority: parsed.follow_up_priority,\n      key_quotes: parsed.key_quotes || [],\n      current_status: contact.customField?.investor_status,\n      current_segment: contact.customField?.segment,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      contact_id: contact.id,\n      success: false,\n      error: error.message,\n      raw_response: response.content?.[0]?.text\n    }\n  };\n}"
      },
      "id": "parse_response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_success",
      "name": "Parse Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ghl_id\": \"{{ $json.contact_id }}\",\n  \"email\": \"{{ $json.ghl_contact.email }}\",\n  \"phone\": \"{{ $json.ghl_contact.phone }}\",\n  \"first_name\": \"{{ $json.ghl_contact.firstName }}\",\n  \"last_name\": \"{{ $json.ghl_contact.lastName }}\",\n  \"investor_status\": \"{{ $json.recommended_status }}\",\n  \"latest_notes\": {{ JSON.stringify($json.ghl_contact.notes || '').substring(0, 1000) }},\n  \"parsed_notes\": {{ JSON.stringify($json.parsed_notes) }},\n  \"last_synced_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "upsert_supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "call_segmentation",
      "name": "Call Segmentation Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2220, 0],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            }
          ],
          "object": [
            {
              "name": "result",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "success_response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2440, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "error",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "parse_error",
      "name": "Parse Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 200]
    }
  ],
  "connections": {
    "GHL Webhook": {
      "main": [
        [
          {
            "node": "Has Contact ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contact ID?": {
      "main": [
        [
          {
            "node": "Get Contact from GHL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact from GHL": {
      "main": [
        [
          {
            "node": "Has Notes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Notes?": {
      "main": [
        [
          {
            "node": "Get Note Parser Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Note Parser Prompt": {
      "main": [
        [
          {
            "node": "Claude: Parse Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Parse Notes": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Parse Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Success?": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Call Segmentation Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Segmentation Engine": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 1", "AI Setter"]
}
