n8n-workflows/configured/S3-02_email_generator.json
{
  "name": "S3-02 Email Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contacts_sync?segment=eq.{{ $json.segment_slug }}&investor_status=neq.cold&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            }
          ]
        },
        "options": {}
      },
      "id": "get_contacts",
      "name": "Get Contacts in Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_contacts",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_contacts",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/prompts?prompt_id=eq.teaser_generator&is_active=eq.true&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            }
          ]
        },
        "options": {}
      },
      "id": "get_prompt",
      "name": "Get Teaser Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        $node['Get Teaser Prompt'].json[0]?.content + \n        '\\n\\nContent title: ' + $('Start').first().json.content_title +\n        '\\nContent teaser: ' + ($('Start').first().json.best_hook || 'Check out this new content') +\n        '\\nBest hook: ' + ($('Start').first().json.best_hook || '') +\n        '\\nTarget segment: ' + $('Start').first().json.segment_name +\n        '\\nContent link: ' + $('Start').first().json.source_url\n      ) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude_generate",
      "name": "Claude: Generate Teaser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst startData = $('Start').first().json;\n\nconst text = response.content?.[0]?.text || '';\n\n// Parse subject and body\nlet subject = 'Check this out 👀';\nlet body = text;\n\nconst lines = text.split('\\n');\nif (lines[0].toLowerCase().startsWith('subject:')) {\n  subject = lines[0].replace(/^subject:\\s*/i, '').trim();\n  body = lines.slice(2).join('\\n').trim();\n}\n\nreturn {\n  json: {\n    content_id: startData.content_id,\n    segment_slug: startData.segment_slug,\n    subject: subject,\n    body: body,\n    source_url: startData.source_url\n  }\n};"
      },
      "id": "parse_email",
      "name": "Parse Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const emailData = $input.first().json;\nconst contacts = $node['Get Contacts in Segment'].first().json;\n\n// Create distribution entries for each contact\nreturn contacts.map(contact => ({\n  json: {\n    content_id: emailData.content_id,\n    ghl_contact_id: contact.ghl_id,\n    contact_email: contact.email,\n    first_name: contact.first_name,\n    segment: emailData.segment_slug,\n    channel: 'email',\n    subject: emailData.subject,\n    body: emailData.body.replace('{first_name}', contact.first_name || 'there'),\n    source_url: emailData.source_url\n  }\n}));"
      },
      "id": "prepare_sends",
      "name": "Prepare Individual Sends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch_sends",
      "name": "Batch for Sending",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/distributions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"ghl_contact_id\": \"{{ $json.ghl_contact_id }}\",\n  \"channel\": \"email\",\n  \"message_type\": \"teaser\",\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"message_content\": {{ JSON.stringify($json.body) }},\n  \"media_url\": \"{{ $json.source_url }}\",\n  \"status\": \"queued\"\n}",
        "options": {}
      },
      "id": "create_distribution",
      "name": "Create Distribution Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "trigger_sender",
      "name": "Trigger Email Sender",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2220, 200],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_contacts_in_segment"
            }
          ]
        },
        "options": {}
      },
      "id": "no_contacts",
      "name": "No Contacts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Contacts in Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts in Segment": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Get Teaser Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Teaser Prompt": {
      "main": [
        [
          {
            "node": "Claude: Generate Teaser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Teaser": {
      "main": [
        [
          {
            "node": "Parse Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Content": {
      "main": [
        [
          {
            "node": "Prepare Individual Sends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual Sends": {
      "main": [
        [
          {
            "node": "Batch for Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch for Sending": {
      "main": [
        [
          {
            "node": "Create Distribution Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Distribution Record": {
      "main": [
        [
          {
            "node": "Trigger Email Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 3", "Distribution"]
}
