n8n-workflows/configured/S3-01_distribution_router.json
{
  "name": "S3-01 Distribution Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "distribute-content",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "distribute-content"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $json.body?.content_id || $json.content_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            }
          ]
        },
        "options": {}
      },
      "id": "get_content",
      "name": "Get Content Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_ready",
              "leftValue": "={{ $json[0]?.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_status",
      "name": "Is Content Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Content is not ready for distribution"
            }
          ]
        },
        "options": {}
      },
      "id": "not_ready_error",
      "name": "Not Ready Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/segments?slug=in.({{ $json[0]?.audiences?.join(',') || 'general_leads' }})",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            }
          ]
        },
        "options": {}
      },
      "id": "get_routing_rules",
      "name": "Get Routing Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const content = $node['Get Content Record'].first().json[0];\nconst segments = $input.first().json;\n\n// Build distribution plan for each audience\nconst distributionPlan = [];\n\nfor (const segment of segments) {\n  // Primary channel distribution\n  if (segment.channel_primary) {\n    distributionPlan.push({\n      content_id: content.id,\n      content_title: content.title,\n      source_url: content.source_url,\n      hooks: content.hooks,\n      best_hook: content.hooks?.[0]?.text || content.ai_metadata?.teaser || '',\n      segment_slug: segment.slug,\n      segment_name: segment.name,\n      channel: segment.channel_primary,\n      is_primary: true,\n      priority: content.priority\n    });\n  }\n  \n  // Secondary channel distribution (if content is featured or high priority)\n  if (segment.channel_secondary && (content.is_featured || content.priority === 'high')) {\n    distributionPlan.push({\n      content_id: content.id,\n      content_title: content.title,\n      source_url: content.source_url,\n      hooks: content.hooks,\n      best_hook: content.hooks?.[0]?.text || content.ai_metadata?.teaser || '',\n      segment_slug: segment.slug,\n      segment_name: segment.name,\n      channel: segment.channel_secondary,\n      is_primary: false,\n      priority: content.priority\n    });\n  }\n}\n\nreturn distributionPlan.map(plan => ({ json: plan }));"
      },
      "id": "build_distribution_plan",
      "name": "Build Distribution Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "process_batches",
      "name": "Process Distributions",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route_by_channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "trigger_email",
      "name": "Trigger Email Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1780, 100],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "trigger_sms",
      "name": "Trigger SMS Sender",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1780, 250],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "trigger_instagram",
      "name": "Trigger Instagram Poster",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1780, 400],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/contents?id=eq.{{ $node['Get Content Record'].json[0]?.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"distributed\"\n}",
        "options": {}
      },
      "id": "update_status",
      "name": "Update Content Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "distribution_complete"
            }
          ]
        },
        "options": {}
      },
      "id": "return_success",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Content Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Record": {
      "main": [
        [
          {
            "node": "Is Content Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Content Ready?": {
      "main": [
        [
          {
            "node": "Get Routing Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Ready Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Routing Rules": {
      "main": [
        [
          {
            "node": "Build Distribution Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Distribution Plan": {
      "main": [
        [
          {
            "node": "Process Distributions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Distributions": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Trigger Email Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger SMS Sender",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Instagram Poster",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Email Generator": {
      "main": [
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger SMS Sender": {
      "main": [
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Instagram Poster": {
      "main": [
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content Status": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["Austin CG", "System 3", "Distribution"]
}
