n8n-workflows/configured/TEST_analytics_logger.json
{
  "name": "TEST Analytics Logger",
  "nodes": [
    {
      "parameters": {},
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      event_type: 'test_event',\n      event_category: 'system4',\n      workflow_name: 'TEST Analytics Logger',\n      content_id: null,\n      contact_id: null,\n      distribution_id: null,\n      event_data: {\n        test: true,\n        message: 'Testing analytics logger from n8n',\n        timestamp: new Date().toISOString()\n      },\n      duration_ms: 150,\n      success: true\n    }\n  }\n];"
      },
      "name": "Create Test Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "create-test-data"
    },
    {
      "parameters": {
        "url": "https://gxieuybdhngkkkmaxpsj.supabase.co/rest/v1/analytics_events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4aWV1eWJkaG5na2trbWF4cHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjU2NjMsImV4cCI6MjA4MTc0MTY2M30.Iz810S-OLictocvT_Hx3rZI7jhIkgPCTcJq9OEBVt5o"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {},
        "method": "POST",
        "bodyContentType": "raw",
        "body": "={{ JSON.stringify($json) }}"
      },
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "id": "insert-supabase"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: '✅ Analytics event created successfully!',\n      event_id: result.id,\n      event_type: result.event_type,\n      created_at: result.created_at,\n      dashboard_url: 'http://localhost:5179/analytics'\n    }\n  }\n];"
      },
      "name": "Format Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "format-success"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Create Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Data": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-19T19:00:00.000Z",
  "versionId": "1"
}
